namespace: default

image: img234/fastapi-img-process-manager:0.1.4

port: 21101

appId: "fastapi-img-process-manager-001"

replicaCount: 0

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

serviceType: LoadBalancer
