namespace: default

image: img234/grpc-collection-manager:0.1.8

port: 21003

appId: "grpc-images-manager-001"

replicaCount: 1

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

serviceType: LoadBalancer
