namespace: default

image: img234/fastapi-images-manager:0.1.3

port: 21102

appId: "fastapi-images-manager-001"

replicaCount: 0

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

serviceType: LoadBalancer
